{{#if result.caption}}
<h5>{{truncateHelper result.caption 75}} <small>Modality :{{result.imageType}}, Date: {{result.date}}</small></h5>
<dl class="dl-horizontal">
  <dt>Caption</dt>
  <dd>{{result.caption}}</dd>
  <dt>Article</dt>
  <dd><a href="{{result.ArticleLink}}">{{result.articleTitle}}</a></dd>
  <dt>Images</dt>
  <dd><a href="{{result.FigsonlyLink}}">{{result.figsonlyLink}}</a></dd>
  <dt>Source</dt>
  <dd>{{result.source}}</dd>
</dl>
{{else}}
<p>Empty record found</p>
{{/if}}
{{yield}}
