<h5>{{result.caption}} <small>Modality :{{result.imageType}}, Date: {{result.date}}</small></h5>
<dl class="dl-horizontal">
  <dt>Article</dt>
  <dd><a href="{{result.ArticleLink}}">{{result.articleTitle}}</a></dd>
  <dt>Images</dt>
  <dd><a href="{{result.FigsonlyLink}}">{{result.figsonlyLink}}</a></dd>
  <dt>Source</dt>
  <dd>{{result.source}}</dd>
</dl>  

{{yield}}
